<nz-modal
  [(nzVisible)]="isvisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1000"
>
  <ng-template #modalTitle>
    <div
      style="
        display: flex;
        align-items: center;
        background-color: #ccdbeb;
        padding: 5px 0px 10px 16px;
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
      >
        <g clip-path="url(#clip0_822_19458)">
          <path
            d="M21.6 0.5H2.4C1.08 0.5 0 1.58 0 2.9V24.5L4.8 19.7H21.6C22.92 19.7 24 18.62 24 17.3V2.9C24 1.58 22.92 0.5 21.6 0.5ZM12 11.3C11.34 11.3 10.8 10.76 10.8 10.1V5.3C10.8 4.64 11.34 4.1 12 4.1C12.66 4.1 13.2 4.64 13.2 5.3V10.1C13.2 10.76 12.66 11.3 12 11.3ZM13.2 16.1H10.8V13.7H13.2V16.1Z"
            fill="#2A3884"
          />
        </g>
        <defs>
          <clipPath id="clip0_822_19458">
            <rect
              width="24"
              height="24"
              fill="white"
              transform="translate(0 0.5)"
            />
          </clipPath>
        </defs>
      </svg>
      <p style="line-height: 38px; padding: 0; margin: 0; margin-left: 12px">
        {{ "Cập nhật thông tin máy" | translate }}
      </p>
    </div>
  </ng-template>

  <ng-template #modalContent>
    <!-- <h2>Thông tin máy</h2> -->
    <div nz-row>
      <div nz-col [nzSpan]="16">
        <div
          style="display: flex; flex-wrap: wrap; justify-content: space-between"
        >
          <ng-container *ngFor="let col of columns">
            <div
              *ngIf="
                col.dataType != 5 &&
                col.keyName != 'status' &&
                col.keyName != 'machineType' &&
                col.keyName != 'maintenanceTime' &&
                col.keyName != 'maxWaitingTime'
              "
              style="width: 45%; margin-bottom: 20px"
            >
              <label class="fn-label"
                >{{ col.keyTitle | translate }}
                <span *ngIf="col.isRequired == true" style="color: red">*</span>
              </label>
              <input
                [disabled]="col.keyName == 'machineCode'"
                type="text"
                nz-input
                [(ngModel)]="inforMachine[col.keyName]"
                (ngModelChange)="checkValid()"
                placeholder="{{ 'Nhập' | translate }} {{
                  col.keyTitle | translate
                }}"
                (ngModelChange)="checkAction = true"
              />
              <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                checkMachine[col.keyName]
              }}</span>
            </div>
            <div
              *ngIf="
                (col.dataType == 1 || col.dataType == 2) &&
                col.keyName != 'status' &&
                col.keyName != 'maintenanceTime' &&
                col.keyName != 'maxWaitingTime'
              "
              style="width: 45%; margin-bottom: 20px"
            >
              <label class="fn-label"
                >{{ col.keyTitle | translate
                }}<span *ngIf="col.isRequired == true" style="color: red"
                  >*</span
                >
              </label>
              <br />
              <nz-input-number
                [nzMin]="0"
                [nzStep]="1"
                [nzParser]="parser"
                [nzFormatter]="formatter"
                nz-input
                [(ngModel)]="inforMachine[col.keyName]"
                (ngModelChange)="checkValid()"
                (ngModelChange)="checkAction = true"
                style="width: 100%"
              />
              <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                checkMachine[col.keyName]
              }}</span>
            </div>
            <div
              *ngIf="col.keyName == 'machineType'"
              style="width: 45%; margin-bottom: 20px"
            >
              <label class="fn-label"
                >{{ col.keyTitle | translate
                }}<span *ngIf="col.isRequired == true" style="color: red"
                  >*</span
                >
              </label>
              <nz-select
                style="width: 100%"
                [(ngModel)]="inforMachine['machineType']['id']"
                (ngModelChange)="checkValid()"
                [nzDropdownRender]="renderTemplate"
                nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                  col.keyTitle | translate
                }} -----"
                (ngModelChange)="checkAction = true"
              >
                <nz-option
                  *ngFor="let machineType of machineTypeList"
                  [nzValue]="machineType.id"
                  [nzLabel]="machineType.machineTypeName"
                >
                </nz-option>
              </nz-select>
              <ng-template #renderTemplate>
                <div class="container">
                  <input type="text" nz-input #inputElement />
                  <a class="add-item" (click)="addItem(inputElement)">
                    <span nz-icon nzType="plus"></span>
                    Thêm mới
                  </a>
                  <div
                    style="color: red"
                    class="error-message"
                    *ngIf="showErrorMachineType"
                  >
                    Loại máy không được để trống hoặc chứa ký tự đặc biệt
                  </div>
                </div>
              </ng-template>
              <span
                style="color: red"
                *ngIf="col.isRequired == true && checkMachine[col.keyName]"
                >{{ checkMachine[col.keyName] }}</span
              >
            </div>

            <div
              *ngIf="
                col.keyName == 'maintenanceTime' ||
                col.keyName == 'maxWaitingTime'
              "
              style="width: 45%; margin-bottom: 20px"
            >
              <label class="fn-label">
                >{{ col.keyTitle | translate
                }}<span style="color: red" *ngIf="col.isRequired == true"
                  >*</span
                ></label
              >
              <div nz-row>
                <div nz-col nzSpan="11">
                  <input
                    nz-input
                    [(ngModel)]="inforMachine[col.keyName]"
                    type="text"
                    [placeholder]="col.keyTitle"
                    (ngModelChange)="checkValid()"
                    (ngModelChange)="checkAction = true"
                  />
                </div>
                <div nz-col nzSpan="2"></div>
                <div nz-col nzSpan="11">
                  <nz-select
                    *ngIf="col.keyName == 'maintenanceTime'"
                    style="width: 100%"
                    nzMode="default"
                    nzPlaceHolder="---- {{ 'Chọn' | translate }} -----"
                    [nzOptions]="listOfOption"
                    [(ngModel)]="inforMachine['maintenanceTimeUnit']"
                  >
                  </nz-select>
                  <nz-select
                    *ngIf="col.keyName == 'maxWaitingTime'"
                    style="width: 100%"
                    nzMode="default"
                    nzPlaceHolder="---- {{ 'Chọn' | translate }} -----"
                    [nzOptions]="listOfOption"
                    [(ngModel)]="inforMachine['maxWaitingTimeUnit']"
                  >
                  </nz-select>
                </div>
              </div>
              <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                checkMachine[col.keyName]
              }}</span>
            </div>

            <div
              *ngIf="col.dataType == 5"
              style="width: 45%; margin-bottom: 20px"
            >
              <label class="fn-label"
                >{{ col.keyTitle | translate
                }}<span *ngIf="col.isRequired == true" style="color: red"
                  >*</span
                >
              </label>
              <nz-date-picker
                style="width: 100%"
                [(ngModel)]="inforMachine[col.keyName]"
                (ngModelChange)="checkValid()"
                (ngModelChange)="checkAction = true"
              ></nz-date-picker>
              <span
                style="color: red"
                *ngIf="col.isRequired == true && checkMachine[col.keyName]"
                >{{ checkMachine[col.keyName] }}</span
              >
            </div>
          </ng-container>
        </div>
        <div nz-row>
          <nz-radio-group
            nz-col
            nzSpan="24"
            [(ngModel)]="inforMachine['status']"
            style="
              margin-top: 18px;
              display: flex;
              justify-content: space-between;
            "
          >
            <label
              style="width: 45%; margin-bottom: 20px"
              nz-radio
              [nzValue]="1"
              >{{ "Hoạt động" | translate }}</label
            >
            <label
              style="width: 44%; margin-bottom: 20px; margin-left: 10px"
              nz-radio
              [nzValue]="0"
              >{{ "Ngừng hoạt động" | translate }}</label
            >
          </nz-radio-group>
        </div>
      </div>
      <div nz-col [nzSpan]="2"></div>

      <div nz-col nzSpan="5">
        <div id="QR" style="text-align: center">
          <nz-qrcode [nzValue]="strQr"></nz-qrcode>
          <app-button
            style="margin-top: 20px"
            (click)="printQR()"
            title="In mã"
            class="btn btn-save"
            #saveBtn
          ></app-button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <app-button
      (click)="handleCancel()"
      style="
        margin-right: 30px;
        background-color: #e5e5e5;
        display: inline-block;
        border-radius: 4px;
      "
      [buttonType]="'text'"
      title="Hủy bỏ"
    ></app-button>
    <app-button
      style="margin-right: 30px"
      (click)="submitDemo()"
      title="Cập nhật"
      class="btn btn-save"
      #saveBtn
    >
    </app-button>
    <!-- <app-button styles="width: 86px;" title="In mã" class="custom-button" (click)="showQrCode()"></app-button> -->
  </ng-template>
  <app-popup-cancel
    [(isvisible)]="isvisibleCancel"
    (cancel)="cancelConfirm($event)"
  ></app-popup-cancel>
  <app-popup-update
    [(isvisible)]="isvisiblesubmit"
    (update)="submit()"
  ></app-popup-update>
</nz-modal>
