/* Block CSS cho các chức năng trong phân hệ */
.btn-back {
  width: 5%;
}

.container-homepage {
  width: 95%;
  /* height: calc(100vh - 80px - 41px); */
  display: flex;
  /* justify-content: space-between; */
  gap: 5%;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.container-homepage .title {
  padding: 30px;
}

.container-homepage .title span {
  color: #2a3884;
  font-family: Inter;
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
}

.container-homepage .items {
  width: 20%;
  margin-bottom: 28px;
}

.container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00AEEE;
  border-radius: 4px;
  min-height: 186px;
}

.container-item:hover {
  cursor: pointer;
}

.top-item {
  display: flex;
  justify-content: center;
}

.bot-item p {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

.item-icons {
  width: 28px;
  height: 28px;
}

.item-block {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}