<div class="parent-container">
    <!-- <app-menu></app-menu> -->
    <div class="content-container-breadcrumb">
      <app-breadcrumb nz-row [listBreadCrumb]="breadcrumbs"></app-breadcrumb>
    </div>
    <div class="quoting-title">
      <p style="margin-bottom: 0">{{ "QUẢN LÝ BOM" | translate }}</p>
    </div>
    <div class="quoting-header quoting-df quoting-df-jus-between">
      <div class="quoting-header-search"></div>
      <div class="quoting-df quoting-df-jus-between">
        <div
          nz-col
          style="display: flex; align-items: center; padding: 0 12px"
        >
          <button
            style="color: #01aba8"
            nz-button
            nzType="text"
            class="mb-6 quoting-fz-12"
            nz-tooltip="{{ 'Tạo BOM' | translate }}"
            (click)="openPopupCreateOrUpdate()"
          >
            <span
              nz-icon
              nzType="plus-circle"
              nzTheme="outline"
              class="fn-icon-style"
            ></span>
            {{ "Tạo BOM" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="quoting-content">
      <div class="quoting-table" #tableBlock [style.width]="widthContent">
        <nz-table
          #expandTable
          [nzData]="listBom"
          nzTableLayout="fixed"
          nzBordered
          [nzSize]="'small'"
          nzShowPagination="false"
          [nzScroll]="{ x: 'auto', y: this.heightTable + 'px' }"
        >
          <thead>
            <tr>
              <ng-container *ngFor="let column of columns; let i = index">
                <ng-container *ngIf="column.localCheck">
                  <th
                    *ngIf="column.isFixed"
                    nz-resizable
                    [nzWidth]="column.width"
                    (nzResize)="onResize($event, i)"
                    [nzAlign]="'center'"
                    nzLeft
                  >
                    <div class="editable-cell">
                      {{ column.keyTitle | translate }}
                      <nz-resize-handle nzDirection="right">
                        <div class="resize-trigger"></div>
                      </nz-resize-handle>
                    </div>
                  </th>
                  <th
                    *ngIf="!column.isFixed"
                    nz-resizable
                    [nzWidth]="column.width"
                    (nzResize)="onResize($event, i)"
                    [nzAlign]="'center'"
                  >
                    <div class="editable-cell">
                      {{ column.keyTitle | translate }}
                      <nz-resize-handle nzDirection="right">
                        <div class="resize-trigger"></div>
                      </nz-resize-handle>
                    </div>
                  </th>
                </ng-container>
              </ng-container>
              <th nzWidth="100px" nzAlign="center" nzRight>
                {{ "Thao tác" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <ng-container *ngFor="let column of columns">
                <ng-container
                    *ngIf="
                      column.localCheck &&
                      column.keyName != 'status' &&
                      column.dataType != dataType.DATE_TIME &&
                      column.dataType != dataType.PARAM
                    "
                  >
                    <td [nzLeft]="column.isFixed == 1 ? true : false">
                      <nz-input-group
                        [nzPrefix]="machineCodePrefix"
                        [nzSuffix]="machineSuffix"
                      >
                        <ng-template #machineCodePrefix
                          ><span
                            nz-icon
                            nzType="search"
                            nzTheme="outline"
                            style="color: #d8c6bf"
                          ></span
                        ></ng-template>
                        <ng-template #machineSuffix
                          ><span
                            *ngIf="inforBom[column.keyName]"
                            (click)="clearInput(column.keyName)"
                            nz-icon
                            nzType="close-circle"
                            nzTheme="fill"
                            style="
                              font-size: 12px;
                              cursor: pointer;
                              color: rgb(172, 170, 170);
                            "
                          ></span
                        ></ng-template>
                        <input
                          [nzAutocomplete]="auto"
                          type="text"
                          nz-input
                          [(ngModel)]="inforBom[column.keyName]"
                          (focus)="searchAutoComplete(column.keyName)"
                          (input)="searchAutoComplete(column.keyName)"
                          (keyup)="search($event)"
                          nz-popover
                          nzPopoverTrigger="hover"
                          #popover="nzPopover"
                        />
                        <nz-autocomplete #auto [nzDefaultActiveFirstOption]="false">
                          <nz-auto-option
                            *ngFor="let option of optionsComplete"
                            [nzValue]="option"
                            >{{ option | translate }}</nz-auto-option
                          >
                        </nz-autocomplete>
                      </nz-input-group>
                    </td>
                </ng-container>
                <ng-container
                    *ngIf="
                      column.localCheck &&
                      column.keyName == 'status'
                    "
                  >
                    <td [nzLeft]="column.isFixed == 1 ? true : false">
                      <i
                        style="
                          position: absolute;
                          z-index: 1;
                          top: 17px;
                          left: 20px;
                          color: #d8c6bf;
                        "
                        nz-icon
                        nzType="search"
                        nzTheme="outline"
                      ></i>
    
                      <nz-select
                        class="select-search"
                        style="width: 100%"
                        nzAllowClear
                        [(ngModel)]="inforBom[column.keyName]"
                        (ngModelChange)="searchSelectBox(column.keyName)"
                      >
                        <nz-option
                          [nzValue]="1"
                          nzLabel="{{ 'Hoạt động' | translate }}"
                        ></nz-option>
                        <nz-option
                          [nzValue]="0"
                          nzLabel="{{ 'Ngừng hoạt động' | translate }}"
                        ></nz-option>
                      </nz-select>
                    </td>
                </ng-container>
                <ng-container *ngIf="
                    column.localCheck &&
                    column.keyName != 'status' &&
                    column.dataType == dataType.PARAM
                  ">
                    <td [nzLeft]="column.isFixed == 1 ? true : false">
                      <i
                        style="
                          position: absolute;
                          z-index: 1;
                          top: 17px;
                          left: 20px;
                          color: #d8c6bf;
                        "
                        nz-icon
                        nzType="search"
                        nzTheme="outline"
                      ></i>
                      <nz-select
                        style="width: 100%"
                        nzMode="default"
                        [(ngModel)]="inforBom[column.keyName]"
                        (ngModelChange)="searchSelectBox($event)"
                        (nzOpenChange)="handleOpenChangeDataTypeParam($event, column)"
                      >
                        <nz-option *ngFor="let item of valueSelectBox" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                      </nz-select>
                    </td>
                </ng-container>
                <ng-container *ngIf="column.localCheck && column.dataType == dataType.DATE_TIME">
                    <td [nzLeft]="column.isFixed == 1 ? true : false">
                      <nz-date-picker
                        class="select-search"
                        [nzPlaceHolder]="''"
                        style="width: 100%"
                        type="text"
                        nz-input
                        [(ngModel)]="inforBom[column.keyName]"
                        (ngModelChange)="searchSelectBox(column.keyName)"
                        nz-popover
                        nzPopoverTrigger="hover"
                        #popover="nzPopover"
                      >
                      </nz-date-picker>
                    </td>
                </ng-container>
              </ng-container>
              <td [nzRight]="true"></td>
            </tr>
            <ng-container *ngFor="let data of expandTable.data; let j = index">
              <ng-container
                *ngFor="let item of mapOfExpandedData[data.id]; let k = index"
              >
                <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                  <ng-container *ngFor="let col of columns; let i = index">
                    <ng-container *ngIf="col.localCheck">
                      <ng-container *ngIf="i == 0">
                        <td
                          [nzIndentSize]="item.level! * 20"
                          [nzShowExpand]="!!item.children"
                          [(nzExpand)]="item.expand"
                          (nzExpandChange)="
                            getChildren(
                              mapOfExpandedData[item.id],
                              item,
                              j,
                              k,
                              $event
                            )
                          "
                        >
                          <ng-container *ngIf="item[col.keyName]">
                            {{ item[col.keyName] }}
                          </ng-container>
                          <ng-container *ngIf="!item[col.keyName]">
                            {{ item['material_name'] }}
                          </ng-container>
                        </td>
                      </ng-container>
                      <ng-container *ngIf="i != 0">
                        <ng-container *ngIf="col.dataType == dataType.NUMBER || col.dataType == dataType.DATE_TIME">
                            <td class="quoting-text-align-right">{{ item[col.keyName] }}</td>
                        </ng-container>
                        <ng-container *ngIf="col.dataType != dataType.NUMBER && col.dataType != dataType.DATE_TIME">
                            <td>{{ item[col.keyName] }}</td>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <td nzRight>
                    <div class="quoting-df-jus-evenly quoting-df">
                      <button
                        nz-button
                        nzType="link"
                        nz-tooltip="{{ 'btn.edit' | translate }}"
                        (click)="openPopupUpdateInforBom(data, 1)"
                      >
                        <img src="./assets/icons/Edit-VNT.svg" />
                      </button>
                      <button
                        style="color: #00AEEE"
                        nz-button
                        nzType="link"
                        nz-tooltip="{{ 'btn.copy' | translate }}"
                        (click)="openPopupUpdateInforBom(data, 2)"
                      >
                        <span
                          nz-icon
                          nzType="copy"
                          nzTheme="outline"
                          class="fn-icon-style"
                        ></span>
                      </button>
                      <button
                        nz-button
                        nzType="link"
                        nz-tooltip="{{ 'btn.delete' | translate }}"
                        (click)="openPopupDelete(data)"
                      >
                        <img
                          width="16px"
                          height="16px"
                          src="./assets/icons/Delete-VNT.svg"
                        />
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </nz-table>
        <app-pagination
          *ngIf="total"
          [currentPage]="pageNumber"
          [currentSize]="pageSize"
          [total]="total"
          (emitPage)="getData($event)"
        >
        </app-pagination>
      </div>
    </div>
  </div>
  <app-popup-create-or-update-bom 
    *ngIf="isvisiblePopupCreateOrUpdate" 
    [(isvisible)]="isvisiblePopupCreateOrUpdate"
    [inforBOM]="bomDetail"
    [typePopup]="typePopup"
    (isvisibleUpdate)="loadingAfterFinish($event)"
    >
  </app-popup-create-or-update-bom>

  <app-popup-delete 
    *ngIf="isvisiblePopupDelete" 
    [(isvisible)]="isvisiblePopupDelete"
    [tableName]="'BOM'"
    [title]="'Xác nhận xoá thông tin BOM'"
    (delete)="deleteRecordBom()"
    >
  </app-popup-delete>
  