<nz-modal
  [(nzVisible)]="isvisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1160"
>
  <ng-template #modalTitle>
    <div
      class="fn-bg-header-default"
      style="
        display: flex;
        align-items: center;
        padding: 5px 0px 10px 16px;
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
      >
        <g clip-path="url(#clip0_822_19458)">
          <path
            d="M21.6 0.5H2.4C1.08 0.5 0 1.58 0 2.9V24.5L4.8 19.7H21.6C22.92 19.7 24 18.62 24 17.3V2.9C24 1.58 22.92 0.5 21.6 0.5ZM12 11.3C11.34 11.3 10.8 10.76 10.8 10.1V5.3C10.8 4.64 11.34 4.1 12 4.1C12.66 4.1 13.2 4.64 13.2 5.3V10.1C13.2 10.76 12.66 11.3 12 11.3ZM13.2 16.1H10.8V13.7H13.2V16.1Z"
            fill="#2A3884"
          />
        </g>
        <defs>
          <clipPath id="clip0_822_19458">
            <rect
              width="24"
              height="24"
              fill="white"
              transform="translate(0 0.5)"
            />
          </clipPath>
        </defs>
      </svg>
      <p style="line-height: 38px; padding: 0; margin: 0; margin-left: 12px">
        {{ 'Thêm mới thông tin chức năng' | translate }}
      </p>
    </div>
  </ng-template>

  <ng-template #modalContent>
    <div class="form-group">
      <div
        style="display: flex; flex-wrap: wrap; justify-content: space-between;"
      >
        <ng-container *ngFor="let col of columns">
          <ng-container *ngIf="col.hasUnit && col.keyName != 'status'">
            <ng-container *ngIf="col.dataType == dataType.NUMBER">
              <div style="width: 45%; margin-bottom: 20px;" class="fn-df-center">
                <div style="width: 50%;">
                  <label class="fn-label"
                    >{{ col.keyTitle | translate
                    }}<span *ngIf="col.isRequired == true" style="color: red"
                      >*</span
                    ></label
                  >
                  <br />
                  <nz-input-number
                    nz-input
                    [(ngModel)]="inforMachine[col.keyName]"
                    (ngModelChange)="checkValid()"
                    (ngModelChange)="checkAction = true"
                    style="width: 100%"
                  />
                  <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                    checkMachine[col.keyName]
                  }}</span>
                </div>
                <div style="width: 45%;">
                  <label class="fn-label"
                    >{{ "Đơn vị tính" | translate }}</label
                  >
                  <br />
                  <nz-select
                    style="width: 100%"
                    nzMode="default"
                    nzPlaceHolder="Chọn"
                    [(ngModel)]="inforMachine[col.keyName + '_u']"
                    (nzOpenChange)="handleOpenChangeUnit($event, col)"
                  >
                    <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                  </nz-select>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.DATE_TIME">
              <div style="width: 45%; margin-bottom: 20px" class="fn-df-center">
                <div style="width: 50%;">
                  <label class="fn-label"
                    >{{ col.keyTitle | translate
                    }}<span *ngIf="col.isRequired == true" style="color: red"
                      >*</span
                    ></label
                  >
                  <br />
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1"
                    [nzParser]="parser"
                    [nzFormatter]="formatter"
                    nz-input
                    [(ngModel)]="inforMachine[col.keyName]"
                    (ngModelChange)="checkValid()"
                    (ngModelChange)="checkAction = true"
                    style="width: 100%"
                  />
                  <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                    checkMachine[col.keyName]
                  }}</span>
                </div>
                <div style="width: 45%;">
                  <label class="fn-label"
                    >{{ "Đơn vị tính" | translate }}</label
                  >
                  <br />
                  <nz-select
                    style="width: 100%"
                    nzMode="default"
                    nzPlaceHolder="Chọn"
                    [(ngModel)]="inforMachine[col.keyName + '_u']"
                    (nzOpenChange)="handleOpenChangeUnit($event, col)"
                  >
                    <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                  </nz-select>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.STRING">
              <div style="width: 45%; margin-bottom: 20px" class="fn-df-center">
                <div style="width: 50%;">
                  <label class="fn-label"
                    >{{ col.keyTitle | translate
                    }}<span *ngIf="col.isRequired == true" style="color: red"
                      >*</span
                    ></label
                  >
                  <br />
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1"
                    [nzParser]="parser"
                    [nzFormatter]="formatter"
                    nz-input
                    [(ngModel)]="inforMachine[col.keyName]"
                    (ngModelChange)="checkValid()"
                    (ngModelChange)="checkAction = true"
                    style="width: 100%"
                  />
                  <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                    checkMachine[col.keyName]
                  }}</span>
                </div>
                <div style="width: 45%;">
                  <label class="fn-label"
                    >{{ "Đơn vị tính" | translate }}</label
                  >
                  <br />
                  <nz-select
                    style="width: 100%"
                    nzMode="default"
                    nzPlaceHolder="Chọn"
                    [(ngModel)]="inforMachine[col.keyName + '_u']"
                    (nzOpenChange)="handleOpenChangeUnit($event, col)"
                  >
                    <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                  </nz-select>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.LONG_STRING">
              <div style="width: 45%; margin-bottom: 20px" class="fn-df-center">
                <div style="width: 50%;">
                  <label class="fn-label"
                    >{{ col.keyTitle | translate
                    }}<span *ngIf="col.isRequired == true" style="color: red"
                      >*</span
                    ></label
                  >
                  <br />
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1"
                    [nzParser]="parser"
                    [nzFormatter]="formatter"
                    nz-input
                    [(ngModel)]="inforMachine[col.keyName]"
                    (ngModelChange)="checkValid()"
                    (ngModelChange)="checkAction = true"
                    style="width: 100%"
                  />
                  <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                    checkMachine[col.keyName]
                  }}</span>
                </div>
                <div style="width: 45%;">
                  <label class="fn-label"
                    >{{ "Đơn vị tính" | translate }}</label
                  >
                  <br />
                  <nz-select
                    style="width: 100%"
                    nzMode="default"
                    nzPlaceHolder="Chọn"
                    [(ngModel)]="inforMachine[col.keyName + '_u']"
                    (nzOpenChange)="handleOpenChangeUnit($event, col)"
                  >
                    <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                  </nz-select>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!col.hasUnit && col.keyName != 'status'">
            <ng-container *ngIf="col.dataType == dataType.NUMBER">
              <div style="width: 45%; margin-bottom: 20px">
                <label class="fn-label"
                  >{{ col.keyTitle | translate
                  }}<span *ngIf="col.isRequired == true" style="color: red"
                    >*</span
                  ></label
                >
                <br />
                <nz-input-number
                  [nzMin]="0"
                  [nzStep]="1"
                  [nzParser]="parser"
                  [nzFormatter]="formatter"
                  nz-input
                  [(ngModel)]="inforMachine[col.keyName]"
                  (ngModelChange)="checkValid()"
                  (ngModelChange)="checkAction = true"
                  style="width: 100%"
                />
                <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                  checkMachine[col.keyName]
                }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.DATE_TIME">
              <div style="width: 45%; margin-bottom: 20px">
                <label class="fn-label"
                  >{{ col.keyTitle | translate
                  }}<span *ngIf="col.isRequired == true" style="color: red"
                    >*</span
                  ></label
                >
                <nz-date-picker
                  style="width: 100%"
                  [(ngModel)]="inforMachine[col.keyName]"
                  (ngModelChange)="checkValid()"
                  (ngModelChange)="checkAction = true"
                ></nz-date-picker>
                <span
                  style="color: red"
                  *ngIf="col.isRequired == true && checkMachine[col.keyName]"
                  >{{ checkMachine[col.keyName] }}</span
                >
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.STRING">
              <div style="width: 45%; margin-bottom: 20px">
                <label class="fn-label"
                  >{{ col.keyTitle | translate
                  }}<span *ngIf="col.isRequired == true" style="color: red"
                    >*</span
                  ></label
                >
                <input
                  type="text"
                  nz-input
                  [(ngModel)]="inforMachine[col.keyName]"
                  (ngModelChange)="checkValid()"
                  placeholder=" {{ 'Nhập' | translate }} {{
                    col.keyTitle | translate
                  }} "
                  (ngModelChange)="checkAction = true"
                />
                <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                  checkMachine[col.keyName]
                }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.LONG_STRING">
              <div style="width: 45%; margin-bottom: 20px">
                <label class="fn-label"
                  >{{ col.keyTitle | translate
                  }}<span *ngIf="col.isRequired == true" style="color: red"
                    >*</span
                  ></label
                >
                <textarea
                  nz-input
                  [(ngModel)]="inforMachine[col.keyName]"
                  (ngModelChange)="checkValid()"
                  placeholder=" {{ 'Nhập' | translate }} {{
                    col.keyTitle | translate
                  }} "
                  (ngModelChange)="checkAction = true"
                  rows="1"
                ></textarea>
                <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                  checkMachine[col.keyName]
                }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.PARAM">
              <div style="width: 45%; margin-bottom: 20px">
                <label class="fn-label"
                  >{{ col.keyTitle | translate
                  }}<span *ngIf="col.isRequired == true" style="color: red"
                    >*</span
                  ></label
                >
                <nz-select
                  style="width: 100%"
                  nzMode="default"
                  [(ngModel)]="inforMachine[col.keyName]"
                  (ngModelChange)="checkValid()"
                  nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                    col.keyTitle | translate
                  }} ----"
                  (ngModelChange)="checkAction = true"
                >
                  <nz-option [nzValue]="true" [nzLabel]="'Có'"></nz-option>
                  <nz-option [nzValue]="false" [nzLabel]="'Không'"></nz-option>
                </nz-select>
                <!-- <ng-template #renderTemplate>
                  <div class="container">
                    <input type="text" nz-input #inputElement />
                    <a class="add-item" (click)="addItem(inputElement)">
                      <span nz-icon nzType="plus"></span>
                      {{ "add.btn" | translate }}
                    </a>
                    <div
                      style="color: red"
                      class="error-message"
                      *ngIf="showErrorMachineType"
                    >
                      Loại {{ inforMachine[col.keyTitle] }} không được để trống hoặc chứa ký tự đặc biệt
                    </div>
                  </div>
                </ng-template> -->
                <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                  checkMachine[col.keyName]
                }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.BOOLEAN">
              <div style="width: 45%; margin-bottom: 20px">
                <label class="fn-label"
                  >{{ col.keyTitle | translate
                  }}<span *ngIf="col.isRequired == true" style="color: red"
                    >*</span
                  ></label
                >
                <nz-radio-group
                  nz-col
                  nzSpan="24"
                  [(ngModel)]="inforMachine[col.keyName]"
                  style="margin-top: 6px; display: flex; justify-content: space-between;"
                >
                  <label
                    style="width: 50%; margin: 0;"
                    nz-radio
                    [nzValue]="true"
                    >{{ "Có" | translate }}</label
                  >
                  <label
                    style="width: 45%; margin: 0;"
                    nz-radio
                    [nzValue]="false"
                    >{{ "Không" | translate }}</label
                  >
                </nz-radio-group>
                <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                  checkMachine[col.keyName]
                }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="col.dataType == dataType.IMAGE">
              <div style="width: 45%; margin-bottom: 20px">
                <label class="fn-label"
                  >{{ col.keyTitle | translate
                  }}<span *ngIf="col.isRequired == true" style="color: red"
                    >*</span
                  ></label
                >
                <br />
                <input type="file" accept="image/png, image/jpeg, .svg" id="file-input" (change)="handleChangeValueImage($event)">
                <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                  checkMachine[col.keyName]
                }}</span>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div *ngIf="inforMachine['isEntity']">
        <nz-table 
            #nzTable 
            [nzData]="listColumnInFunction" 
            nzTableLayout="fixed" 
            nzShowPagination="false"
        >
            <thead>
              <tr>
                <ng-container *ngFor="let column of columnsFunction">
                    <th [nzWidth]="column.width">{{ column.keyTitle }}</th>
                </ng-container>
                <th nzWidth="86px">Thao tác</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listColumnInFunction; let i = index">
                    <tr>
                        <ng-container *ngFor="let column of columnsFunction">
                            <ng-container *ngIf="column.dataType == dataType.STRING">
                                <td>
                                    <input type="text" nz-input
                                    [(ngModel)]="item[column.keyName]"
                                    (ngModelChange)="checkValid()" style="width: 100%;"
                                    [nz-tooltip]="item[column.keyName]"
                                    />
                                </td>
                            </ng-container>
                            <ng-container *ngIf="column.dataType == dataType.BOOLEAN">
                                <td>
                                    <nz-select
                                        style="width: 100%"
                                        nzMode="default"
                                        [(ngModel)]="item[column.keyName]"
                                        (ngModelChange)="checkValid()"
                                        [nz-tooltip]="item[column.keyName]"
                                        >
                                        <nz-option [nzValue]="true" [nzLabel]="'Có'"></nz-option>
                                        <nz-option [nzValue]="false" [nzLabel]="'Không'"></nz-option>
                                    </nz-select>
                                </td>
                            </ng-container>
                            <ng-container *ngIf="column.dataType == dataType.PARAM">
                                <td>
                                    <nz-select
                                        style="width: 100%"
                                        nzMode="default"
                                        [(ngModel)]="item[column.keyName]"
                                        (ngModelChange)="checkValid()"
                                        [nz-tooltip]="item[column.keyName]"
                                        (ngModelChange)="showPopoverRelation(item, column.keyName)"
                                        >
                                        <nz-option [nzValue]="1" [nzLabel]="'Number'"></nz-option>
                                        <nz-option [nzValue]="2" [nzLabel]="'String'"></nz-option>
                                        <nz-option [nzValue]="3" [nzLabel]="'Long String'"></nz-option>
                                        <nz-option [nzValue]="4" [nzLabel]="'Date Time'"></nz-option>
                                        <nz-option [nzValue]="5" [nzLabel]="'Boolean'"></nz-option>
                                        <nz-option [nzValue]="6" [nzLabel]="'Image'"></nz-option>
                                        <nz-option [nzValue]="7" [nzLabel]="'Relation'"></nz-option>
                                        <nz-option [nzValue]="8" [nzLabel]="'Table'"></nz-option>
                                        <nz-option [nzValue]="9" [nzLabel]="'Param'"></nz-option>
                                    </nz-select>
                                    <span
                                        nz-popover
                                        nzPopoverTitle="Chọn bảng quan hệ"
                                        [nzPopoverContent]="contentTemplateRelation"
                                        nzPopoverPlacement="bottomLeft"
                                        [nzPopoverVisible]="item.showPopoverRelation"
                                        (nzPopoverVisibleChange)="popoverVisibleChangeRelation($event, item)"
                                        >
                                    </span>
                                    <ng-template #contentTemplateRelation>
                                        <div style="display: flex; justify-content: space-between;">
                                            <div style="width: 45%;">
                                                <label class="fn-label"
                                                  >{{ 'Bảng quan hệ' | translate
                                                  }}<span style="color: red"
                                                    >*</span
                                                  ></label
                                                >
                                                <nz-select
                                                  style="width: 100%"
                                                  nzMode="default"
                                                  nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                    'bảng cần quan hệ' | translate
                                                  }} ----"
                                                  [(ngModel)]="item.relateTable"
                                                  (nzOpenChange)="getAllEntity()"
                                                >
                                                  <nz-option *ngFor="let option of listEntityByRelation" [nzValue]="option.name" [nzLabel]="option.label"></nz-option>
                                                </nz-select>
                                            </div>
                                            <div style="width: 45%;">
                                                <label class="fn-label"
                                                  >{{ 'Cột quan hệ' | translate
                                                  }}<span style="color: red"
                                                    >*</span
                                                  ></label
                                                >
                                                <nz-select
                                                  style="width: 100%"
                                                  nzMode="default"
                                                  nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                    'cột cần quan hệ' | translate
                                                  }} ----"
                                                  [(ngModel)]="item.relateColumn"
                                                  (nzOpenChange)="getAllColumnByEntityName(item)"
                                                >
                                                  <nz-option *ngFor="let option of listColumnByRelation" [nzValue]="option.keyName" [nzLabel]="option.keyTitle"></nz-option>
                                                </nz-select>
                                            </div>
                                        </div>
                                    </ng-template>
                                </td>
                            </ng-container>
                        </ng-container>
                        <td nzAlign="center">
                            <div class="fn-css-action-grid">
                              <button
                                nz-button
                                nzType="link"
                                (click)="deleteRowTable(item, i)"
                                nz-tooltip="{{ 'btn.delete' | translate }}"
                              >
                              <img width="16px" height="16px" src="./assets/icons/Delete-VNT.svg">
                              </button>
                            </div>
                          </td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <div *ngIf="inforMachine['isEntity']">
        <button
          style="color: #01aba8"
          nz-button
          nzType="text"
          (click)="addRowTable()"
          class="mb-24"
        >
          <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
          {{ "add.btn" | translate }}
        </button>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <app-button
      (click)="handleCancel()"
      style="
        margin-right: 30px;
        background-color: #e5e5e5;
        display: inline-block;
        border-radius: 4px;
      "
      [buttonType]="'text'"
      title="{{ 'Hủy bỏ' | translate }}"
    ></app-button>
      <button
        nz-button
        (click)="submitDemo()"
        class="fn-bg-default"
        style="border-radius: 4px;width: 86px; text-align: center;"
      >
        <span>{{ 'Thêm mới' | translate }}</span>
      </button>
  </ng-template>
  <app-popup-cancel
    [(isvisible)]="isvisibleCancel"
    (cancel)="cancelConfirm($event)"
  ></app-popup-cancel>
  <app-add-column
    *ngIf="isvisibleAddColumn"
    [entryType]="6"
    [(isvisible)]="isvisibleAddColumn"
  ></app-add-column>
  <app-popup-add
    [(isvisible)]="isvisiblesubmit"
    [tableName]="'chức năng'"
    (add)="submit()"
  ></app-popup-add>
</nz-modal>