<nz-modal
  [(nzVisible)]="isvisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="600"
>
  <ng-template #modalTitle>
    <h2 style="text-align: center; color: #ec0000; padding: 12px">
      {{title}}
    </h2>
  </ng-template>

  <ng-template #modalContent>
    <p>
      {{ "popup.cancel.ask" | translate }}
      <span style="font-weight: 600">{{deleteType}} {{deleteCode}}</span>
      ?
    </p>
    <div
      style="
        width: 100%;
        background-color: #fcd9dc;
        padding: 12px;
        border-left: 4px solid #ec0000;
        border-radius: 3px;
      "
    >
      <h3 style="color: black">
        <span nz-icon nzType="warning" nzTheme="outline"></span>
        {{ "popup.attention" | translate }}
      </h3>
      <p>
        {{ "popup.ifYou" | translate }}
        <span style="font-weight: 600">{{
          deleteType
        }}</span>
        {{ "popup.delete.then" | translate }}
      </p>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div class="fn-footer-center">
      <app-button
        (click)="handleCancel()"
        style="
          margin-right: 30px;
          background-color: #e5e5e5;
          display: inline-block;
          border-radius: 4px;
        "
        [buttonType]="'text'"
        title="{{ 'btn.cancel' | translate }}"
      ></app-button>
      <button
        nz-button
        (click)="submit()"
        class="fn-btn-delete"
        style="border-radius: 4px;width: 86px; text-align: center;"
      >
        <span>{{ 'btn.delete' | translate }}</span>
      </button>
    </div>
  </ng-template>
</nz-modal>
