<nz-modal
  [(nzVisible)]="isvisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1050"
>
  <ng-template #modalTitle>
    <div
      class="fn-bg-header-default"
      style="
        display: flex;
        align-items: center;
        padding: 5px 0px 10px 16px;
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="25"
        viewBox="0 0 24 25"
        fill="none"
      >
        <g clip-path="url(#clip0_822_19458)">
          <path
            d="M21.6 0.5H2.4C1.08 0.5 0 1.58 0 2.9V24.5L4.8 19.7H21.6C22.92 19.7 24 18.62 24 17.3V2.9C24 1.58 22.92 0.5 21.6 0.5ZM12 11.3C11.34 11.3 10.8 10.76 10.8 10.1V5.3C10.8 4.64 11.34 4.1 12 4.1C12.66 4.1 13.2 4.64 13.2 5.3V10.1C13.2 10.76 12.66 11.3 12 11.3ZM13.2 16.1H10.8V13.7H13.2V16.1Z"
            fill="#2A3884"
          />
        </g>
        <defs>
          <clipPath id="clip0_822_19458">
            <rect
              width="24"
              height="24"
              fill="white"
              transform="translate(0 0.5)"
            />
          </clipPath>
        </defs>
      </svg>
      <p style="line-height: 38px; padding: 0; margin: 0; margin-left: 12px">
        {{ 'Thêm mới thông tin BOM' | translate }}
      </p>
    </div>
  </ng-template>

  <ng-template #modalContent>
    <div class="form-group">
        <div
        style="display: flex; flex-wrap: wrap; gap: 3%; width: 100%;"
      >
        <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.localCheck">
                <ng-container *ngIf="col.hasUnit && col.keyName != 'status'">
                  <ng-container *ngIf="col.dataType == dataType.NUMBER">
                    <div class="fn-df-center block-item-unit">
                      <div class="block-item-unit-left">
                        <label class="fn-label"
                          >{{ col.keyTitle | translate
                          }}<span *ngIf="col.isRequired == true" style="color: red"
                            >*</span
                          ></label
                        >
                        <br />
                        <input style="text-align: right; width:100%" nz-input nz-input (input)="formatNumber($event.target)"
                        type="text" [(ngModel)]="inforBOM[col.keyName]" (ngModelChange)="checkValid()"
                        (ngModelChange)="checkAction = true"/>
                        <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                          checkMachine[col.keyName]
                        }}</span>
                      </div>
                      <div class="block-item-unit-right">
                        <label class="fn-label"
                          >{{ "Đơn vị tính" | translate }}</label
                        >
                        <br />
                        <nz-select
                          style="width: 100%"
                          nzMode="default"
                          nzPlaceHolder="Chọn"
                          [(ngModel)]="inforBOM[col.keyName + '_u']"
                          (nzOpenChange)="handleOpenChangeUnit($event, col)"
                          [nzDropdownRender]="renderTemplate"
                        >
                          <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                        </nz-select>
                        <ng-template #renderTemplate>
                          <div class="container">
                            <a class="add-item" (click)="addItem(false, col)">
                              <span nz-icon nzType="plus"></span>
                              {{ "add.btn" | translate }}
                            </a>
                            <div
                              style="color: red"
                              class="error-message"
                              *ngIf="showErrorMachineType"
                            >
                              Loại {{ inforBOM[col.keyTitle] }} không được để trống hoặc chứa ký tự đặc biệt
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.DATE_TIME">
                    <div class="fn-df-center block-item-unit">
                      <div class="block-item-unit-left">
                        <label class="fn-label"
                          >{{ col.keyTitle | translate
                          }}<span *ngIf="col.isRequired == true" style="color: red"
                            >*</span
                          ></label
                        >
                        <br />
                        <nz-date-picker
                          style="width: 100%"
                          [(ngModel)]="inforBOM[col.keyName]"
                          (ngModelChange)="checkValid()"
                          (ngModelChange)="checkAction = true"
                          nzFormat="dd/MM/yyyy"
                        ></nz-date-picker>
                        <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                          checkMachine[col.keyName]
                        }}</span>
                      </div>
                      <div class="block-item-unit-right">
                        <label class="fn-label"
                          >{{ "Đơn vị tính" | translate }}</label
                        >
                        <br />
                        <nz-select
                          style="width: 100%"
                          nzMode="default"
                          nzPlaceHolder="Chọn"
                          [(ngModel)]="inforBOM[col.keyName + '_u']"
                          (nzOpenChange)="handleOpenChangeUnit($event, col)"
                          [nzDropdownRender]="renderTemplate"
                        >
                          <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                        </nz-select>
                        <ng-template #renderTemplate>
                          <div class="container">
                            <a class="add-item" (click)="addItem(false, col)">
                              <span nz-icon nzType="plus"></span>
                              {{ "add.btn" | translate }}
                            </a>
                            <div
                              style="color: red"
                              class="error-message"
                              *ngIf="showErrorMachineType"
                            >
                              Loại {{ inforBOM[col.keyTitle] }} không được để trống hoặc chứa ký tự đặc biệt
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.STRING">
                    <div class="fn-df-center block-item-unit">
                      <div class="block-item-unit-left">
                        <label class="fn-label"
                          >{{ col.keyTitle | translate
                          }}<span *ngIf="col.isRequired == true" style="color: red"
                            >*</span
                          ></label
                        >
                        <br />
                        <nz-input-number
                          [nzMin]="0"
                          [nzStep]="1"
                          [nzParser]="parser"
                          [nzFormatter]="formatter"
                          nz-input
                          [(ngModel)]="inforBOM[col.keyName]"
                          (ngModelChange)="checkValid()"
                          (ngModelChange)="checkAction = true"
                          style="width: 100%"
                        />
                        <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                          checkMachine[col.keyName]
                        }}</span>
                      </div>
                      <div class="block-item-unit-right">
                        <label class="fn-label"
                          >{{ "Đơn vị tính" | translate }}</label
                        >
                        <br />
                        <nz-select
                          style="width: 100%"
                          nzMode="default"
                          nzPlaceHolder="Chọn"
                          [(ngModel)]="inforBOM[col.keyName + '_u']"
                          (nzOpenChange)="handleOpenChangeUnit($event, col)"
                          [nzDropdownRender]="renderTemplate"
                        >
                          <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                        </nz-select>
                        <ng-template #renderTemplate>
                          <div class="container">
                            <a class="add-item" (click)="addItem(false, col)">
                              <span nz-icon nzType="plus"></span>
                              {{ "add.btn" | translate }}
                            </a>
                            <div
                              style="color: red"
                              class="error-message"
                              *ngIf="showErrorMachineType"
                            >
                              Loại {{ inforBOM[col.keyTitle] }} không được để trống hoặc chứa ký tự đặc biệt
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.LONG_STRING">
                    <div class="fn-df-center block-item-unit">
                      <div class="block-item-unit-left">
                        <label class="fn-label"
                          >{{ col.keyTitle | translate
                          }}<span *ngIf="col.isRequired == true" style="color: red"
                            >*</span
                          ></label
                        >
                        <br />
                        <nz-input-number
                          [nzMin]="0"
                          [nzStep]="1"
                          [nzParser]="parser"
                          [nzFormatter]="formatter"
                          nz-input
                          [(ngModel)]="inforBOM[col.keyName]"
                          (ngModelChange)="checkValid()"
                          (ngModelChange)="checkAction = true"
                          style="width: 100%"
                        />
                        <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                          checkMachine[col.keyName]
                        }}</span>
                      </div>
                      <div class="block-item-unit-right">
                        <label class="fn-label"
                          >{{ "Đơn vị tính" | translate }}</label
                        >
                        <br />
                        <nz-select
                          style="width: 100%"
                          nzMode="default"
                          nzPlaceHolder="Chọn"
                          [(ngModel)]="inforBOM[col.keyName + '_u']"
                          (nzOpenChange)="handleOpenChangeUnit($event, col)"
                          [nzDropdownRender]="renderTemplate"
                        >
                          <nz-option *ngFor="let item of valueTypeParam" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                        </nz-select>
                        <ng-template #renderTemplate>
                          <div class="container">
                            <a class="add-item" (click)="addItem(false, col)">
                              <span nz-icon nzType="plus"></span>
                              {{ "add.btn" | translate }}
                            </a>
                            <div
                              style="color: red"
                              class="error-message"
                              *ngIf="showErrorMachineType"
                            >
                              Loại {{ inforBOM[col.keyTitle] }} không được để trống hoặc chứa ký tự đặc biệt
                            </div>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!col.hasUnit && col.keyName != 'status'">
                  <ng-container *ngIf="col.dataType == dataType.NUMBER">
                    <div class="block-item-unit">
                      <label class="fn-label"
                        >{{ col.keyTitle | translate
                        }}<span *ngIf="col.isRequired == true" style="color: red"
                          >*</span
                        ></label
                      >
                      <br />
                        <ng-container *ngIf="col.keyName == 'material_id'">
                            <nz-select
                                style="width: 100%"
                                nzMode="default"
                                [(ngModel)]="inforBOM[col.keyName]"
                                nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                col.keyTitle | translate
                                }} ----"
                                [nzShowSearch]="true"
                                [disabled]="col.isDisable"
                            >
                                <nz-option *ngFor="let item of listMaterial" [nzValue]="item['id']" [nzLabel]="item['material_name']"></nz-option>
                            </nz-select>
                        </ng-container>
                        <ng-container *ngIf="col.keyName == 'mdm_technology_process_id'">
                            <nz-select
                                style="width: 100%"
                                nzMode="default"
                                [(ngModel)]="inforBOM[col.keyName]"
                                (ngModelChange)="getDataStages()"
                                nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                col.keyTitle | translate
                                }} ----"
                                [nzShowSearch]="true"
                                [disabled]="col.isDisable"
                            >
                                <nz-option *ngFor="let item of listStage" [nzValue]="item['id']" [nzLabel]="item['technology_process_name']"></nz-option>
                            </nz-select>
                        </ng-container>
                        <ng-container *ngIf="col.keyName != 'material_id' && col.keyName != 'mdm_technology_process_id'">
                            <input style="text-align: right; width:100%" nz-input nz-input (input)="formatNumber($event.target)"
                              type="text" [(ngModel)]="inforBOM[col.keyName]" (ngModelChange)="checkValid()"
                              (ngModelChange)="checkAction = true"/>
                        </ng-container>
                      <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                        checkMachine[col.keyName]
                      }}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.DATE_TIME">
                    <div class="block-item-unit">
                      <label class="fn-label"
                        >{{ col.keyTitle | translate
                        }}<span *ngIf="col.isRequired == true" style="color: red"
                          >*</span
                        ></label
                      >
                      <nz-date-picker
                        style="width: 100%"
                        [(ngModel)]="inforBOM[col.keyName]"
                        (ngModelChange)="checkValid()"
                        (ngModelChange)="checkAction = true"
                        nzFormat="dd/MM/yyyy">
                      </nz-date-picker>
                      <span
                        style="color: red"
                        *ngIf="col.isRequired == true && checkMachine[col.keyName]"
                        >{{ checkMachine[col.keyName] }}</span
                      >
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.STRING">
                    <div class="block-item-unit">
                      <label class="fn-label"
                        >{{ col.keyTitle | translate
                        }}<span *ngIf="col.isRequired == true" style="color: red"
                          >*</span
                        ></label
                      >
                      <input
                        type="text"
                        nz-input
                        [(ngModel)]="inforBOM[col.keyName]"
                        (ngModelChange)="checkValid()"
                        placeholder=" {{ 'Nhập' | translate }} {{
                          col.keyTitle | translate
                        }} "
                        (ngModelChange)="checkAction = true"
                      />
                      <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                        checkMachine[col.keyName]
                      }}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.LONG_STRING">
                    <div class="block-item-unit">
                      <label class="fn-label"
                        >{{ col.keyTitle | translate
                        }}<span *ngIf="col.isRequired == true" style="color: red"
                          >*</span
                        ></label
                      >
                      <textarea
                        nz-input
                        [(ngModel)]="inforBOM[col.keyName]"
                        (ngModelChange)="checkValid()"
                        placeholder=" {{ 'Nhập' | translate }} {{
                          col.keyTitle | translate
                        }} "
                        (ngModelChange)="checkAction = true"
                        rows="1"
                      ></textarea>
                      <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                        checkMachine[col.keyName]
                      }}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.PARAM">
                    <div class="block-item-unit">
                      <label class="fn-label"
                        >{{ col.keyTitle | translate
                        }}<span *ngIf="col.isRequired == true" style="color: red"
                          >*</span
                        ></label
                      >
                      <nz-select
                        style="width: 100%"
                        nzMode="default"
                        [nzDropdownRender]="renderTemplate"
                        [(ngModel)]="inforBOM[col.keyName]"
                        (ngModelChange)="checkValid()"
                        (nzOpenChange)="handleOpenChangeDataTypeParam($event, col)"
                        nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                          col.keyTitle | translate
                        }} ----"
                        (ngModelChange)="checkAction = true"
                      >
                        <nz-option *ngFor="let item of valueSelectBox" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                      </nz-select>
                      <ng-template #renderTemplate>
                        <div class="container">
                          <a class="add-item" (click)="addItem(true, col)">
                            <span nz-icon nzType="plus"></span>
                            {{ "add.btn" | translate }}
                          </a>
                          <div
                            style="color: red"
                            class="error-message"
                            *ngIf="showErrorMachineType"
                          >
                            Loại {{ inforBOM[col.keyTitle] }} không được để trống hoặc chứa ký tự đặc biệt
                          </div>
                        </div>
                      </ng-template>
                      <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                        checkMachine[col.keyName]
                      }}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.BOOLEAN">
                    <div class="block-item-unit">
                      <label class="fn-label"
                        >{{ col.keyTitle | translate
                        }}<span *ngIf="col.isRequired == true" style="color: red"
                          >*</span
                        ></label
                      >
                      <nz-radio-group
                        nz-col
                        nzSpan="24"
                        [(ngModel)]="inforBOM[col.keyName]"
                        style="margin-top: 6px; display: flex; justify-content: space-between;"
                      >
                        <label
                          style="width: 50%; margin: 0; font-size: 13px;"
                          nz-radio
                          [nzValue]="true"
                          >{{ "Có" | translate }}</label
                        >
                        <label
                          style="width: 45%; margin: 0; font-size: 13px;"
                          nz-radio
                          [nzValue]="false"
                          >{{ "Không" | translate }}</label
                        >
                      </nz-radio-group>
                      <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                        checkMachine[col.keyName]
                      }}</span>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col.dataType == dataType.RELATION">
                    <div class="block-item-unit">
                      <label class="fn-label"
                        >{{ col.keyTitle | translate
                        }}<span *ngIf="col.isRequired == true" style="color: red"
                          >*</span
                        ></label
                      >
                      <nz-select
                        style="width: 100%"
                        nzMode="default"
                        [(ngModel)]="inforBOM[col.keyName]"
                        (ngModelChange)="checkValid()"
                        (nzOpenChange)="handleOpenChangeRelation($event, col)"
                        nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                          col.keyTitle | translate
                        }} ----"
                        (ngModelChange)="checkAction = true"
                        [nzShowSearch]="true"
                      >
                        <nz-option *ngFor="let item of optionsRelation" [nzValue]="item" [nzLabel]="item[columnRelation!]"></nz-option>
                      </nz-select>
                      <span style="color: red" *ngIf="checkMachine[col.keyName]">{{
                        checkMachine[col.keyName]
                      }}</span>
                    </div>
                  </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
      </div>
      <div>
        <nz-tabset>
            <nz-tab [nzTitle]="titleTemplate1">
              <ng-template #titleTemplate1>
                <span nz-icon nzType="file-protect"></span>
                {{ 'Danh sách nguyên vật liệu' }}
              </ng-template>
              <nz-table
                #childrenBomTable
                [nzData]="['']"
                nzTableLayout="fixed"
                nzBordered
                [nzSize]="'small'"
                nzShowPagination="false"
                [nzScroll]="{ x: 'auto', y: '500px' }"
              >
                <thead>
                  <tr>
                    <th nzWidth="48px" nzAlign="center">
                        {{ "STT" | translate }}
                    </th>
                    <ng-container *ngFor="let column of columnsBomDetail; let i = index">
                      <ng-container *ngIf="column.localCheck">
                        <th
                          *ngIf="column.isFixed"
                          nz-resizable
                          [nzWidth]="column.width"
                          [nzAlign]="'center'"
                          nzLeft
                        >
                          <div class="editable-cell">
                            {{ column.keyTitle | translate }}
                          </div>
                        </th>
                        <th
                          *ngIf="!column.isFixed"
                          nz-resizable
                          [nzWidth]="column.width"
                          [nzAlign]="'center'"
                        >
                          <div class="editable-cell">
                            {{ column.keyTitle | translate }}
                          </div>
                        </th>
                      </ng-container>
                    </ng-container>
                    <th nzWidth="86px" nzAlign="center" nzRight>
                      {{ "Thao tác" | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of listChildrenBom; let i = index">
                        <tr>
                            <td class="fn-text-align-center">
                                {{ i + 1}}
                            </td>
                            <ng-container *ngFor="let col of columnsBomDetail">
                                <ng-container *ngIf="col.localCheck">
                                    <ng-container *ngIf="col.dataType == dataType.NUMBER">
                                        <td>
                                            <ng-container *ngIf="col.keyName == 'material_id'">
                                                <nz-select
                                                    style="width: 100%"
                                                    nzMode="default"
                                                    [(ngModel)]="data[col.keyName]"
                                                    (ngModelChange)="handleChangeValueMaterialId($event, i)"
                                                    nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                    col.keyTitle | translate
                                                    }} ----"
                                                    [nzShowSearch]="true"
                                                    [disabled]="col.isDisable"
                                                >
                                                    <nz-option *ngFor="let item of listMaterial" [nzValue]="item['id']" [nzLabel]="item['material_name']"></nz-option>
                                                </nz-select>
                                            </ng-container>
                                            <ng-container *ngIf="col.keyName != 'material_id'">
                                                <input style="text-align: right; width:100%" nz-input nz-input (input)="formatNumber($event.target)" type="text" [(ngModel)]="data[col.keyName]" 
                                                placeholder="---- {{ 'Nhập' | translate }} {{
                                                    col.keyTitle | translate
                                                    }} ----" [disabled]="col.isDisable"/>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.dataType == dataType.DATE_TIME">
                                        <td>
                                            <nz-date-picker
                                                style="width: 100%"
                                                [(ngModel)]="data[col.keyName]"
                                                nzFormat="dd/MM/yyyy"
                                                [disabled]="col.isDisable">
                                            </nz-date-picker>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.dataType == dataType.STRING">
                                        <td>
                                            <input
                                                type="text"
                                                nz-input
                                                [(ngModel)]="data[col.keyName]"
                                                placeholder=" {{ 'Nhập' | translate }} {{
                                                col.keyTitle | translate
                                                }} "
                                                [disabled]="col.isDisable"
                                            />
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.dataType == dataType.LONG_STRING">
                                        <td>
                                            <textarea
                                                nz-input
                                                [(ngModel)]="data[col.keyName]"
                                                placeholder=" {{ 'Nhập' | translate }} {{
                                                col.keyTitle | translate
                                                }} "
                                                rows="1"
                                                [disabled]="col.isDisable"
                                            ></textarea>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.dataType == dataType.PARAM">
                                        <td>
                                            <nz-select
                                                style="width: 100%"
                                                nzMode="default"
                                                [(ngModel)]="data[col.keyName]"
                                                (nzOpenChange)="handleOpenChangeDataTypeParam($event, col)"
                                                nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                col.keyTitle | translate
                                                }} ----"
                                                [disabled]="col.isDisable"
                                            >
                                                <nz-option *ngFor="let item of valueSelectBox" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                                            </nz-select>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.dataType == dataType.RELATION">
                                        <td>
                                            <nz-select
                                                style="width: 100%"
                                                nzMode="default"
                                                [(ngModel)]="data[col.keyName]"
                                                (nzOpenChange)="handleOpenChangeRelation($event, col)"
                                                nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                col.keyTitle | translate
                                                }} ----"
                                                [nzShowSearch]="true"
                                                [disabled]="col.isDisable"
                                            >
                                                <nz-option *ngFor="let item of optionsRelation" [nzValue]="item" [nzLabel]="item[columnRelation!]"></nz-option>
                                            </nz-select>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="col.dataType == dataType.BOOLEAN">
                                        <td>
                                            <nz-radio-group
                                                [disabled]="col.isDisable"
                                                nz-col
                                                nzSpan="24"
                                                [(ngModel)]="data[col.keyName]"
                                                style="margin-top: 6px; display: flex; justify-content: space-between;"
                                            >
                                                <label
                                                style="width: 50%; margin: 0; font-size: 13px;"
                                                nz-radio
                                                [nzValue]="true"
                                                >{{ "Có" | translate }}</label
                                                >
                                                <label
                                                style="width: 45%; margin: 0; font-size: 13px;"
                                                nz-radio
                                                [nzValue]="false"
                                                >{{ "Không" | translate }}</label
                                                >
                                            </nz-radio-group>
                                        </td>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <td nzRight>
                                <div class="fn-df fn-df-justify-center">
                                    <button
                                      nz-button
                                      nzType="link"
                                      nz-tooltip="{{ 'btn.delete' | translate }}"
                                      (click)="deleteRow(data, i)"
                                    >
                                      <img
                                        width="16px"
                                        height="16px"
                                        src="./assets/icons/Delete-VNT.svg"
                                      />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
              </nz-table>
              <div>
                <button
                  style="color: #01aba8"
                  nz-button
                  nzType="text"
                  class="mb-6 quoting-fz-12"
                  nz-tooltip="{{ 'Thêm mới' | translate }}"
                  (click)="addNewRow()"
                >
                  <span
                    nz-icon
                    nzType="plus-circle"
                    nzTheme="outline"
                    class="fn-icon-style"
                  ></span>
                  {{ "Thêm mới" | translate }}
                </button>
              </div>
            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate2" (nzClick)="getDataStages()">
                <ng-template #titleTemplate2>
                  <span nz-icon nzType="profile"></span>
                  {{ 'Danh sách quy trình công nghệ' }}
                </ng-template>
                <div>
                    <nz-table
                        #stageTable
                        [nzData]="['']"
                        nzTableLayout="fixed"
                        nzBordered
                        [nzSize]="'small'"
                        nzShowPagination="false"
                        [nzScroll]="{ x: 'auto', y: '250px' }"
                    >
                        <thead>
                        <tr>
                            <th nzWidth="48px" nzAlign="center">
                                {{ "STT" | translate }}
                            </th>
                            <ng-container *ngFor="let column of columnsStage; let i = index">
                            <ng-container *ngIf="column.localCheck">
                                <th
                                *ngIf="column.isFixed"
                                nz-resizable
                                [nzWidth]="column.width"
                                [nzAlign]="'center'"
                                nzLeft
                                >
                                <div class="editable-cell">
                                    {{ column.keyTitle | translate }}
                                </div>
                                </th>
                                <th
                                *ngIf="!column.isFixed"
                                nz-resizable
                                [nzWidth]="column.width"
                                [nzAlign]="'center'"
                                >
                                <div class="editable-cell">
                                    {{ column.keyTitle | translate }}
                                </div>
                                </th>
                            </ng-container>
                            </ng-container>
                            <th nzWidth="86px" nzAlign="center" nzRight>
                            {{ "Thao tác" | translate }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of listStageOfBom; let i = index">
                                <tr>
                                    <td class="fn-text-align-center">
                                        {{ i + 1}}
                                    </td>
                                    <ng-container *ngFor="let col of columnsStage">
                                        <ng-container *ngIf="col.localCheck">
                                            <ng-container *ngIf="col.dataType == dataType.NUMBER">
                                                <td>
                                                    <input style="text-align: right; width:100%" nz-input nz-input (input)="formatNumber($event.target)" type="text" [(ngModel)]="data[col.keyName]" [disabled]="col.isDisable"/>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="col.dataType == dataType.DATE_TIME">
                                                <td>
                                                    <nz-date-picker
                                                        style="width: 100%"
                                                        [(ngModel)]="data[col.keyName]"
                                                        nzFormat="dd/MM/yyyy"
                                                        [disabled]="col.isDisable">
                                                    </nz-date-picker>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="col.dataType == dataType.STRING">
                                                <td>
                                                    <ng-container *ngIf="col.keyName == 'operation_code'">
                                                        <nz-select
                                                            style="width: 100%"
                                                            nzMode="default"
                                                            [(ngModel)]="data[col.keyName]"
                                                            (nzOpenChange)="handleOpenChangeOperationCode($event, col.keyName)"
                                                            (ngModelChange)="handleChangeValueOperationCode($event, i)"
                                                            nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                            col.keyTitle | translate
                                                            }} ----"
                                                            [nzShowSearch]="true"
                                                            [disabled]="col.isDisable"
                                                        >
                                                            <nz-option *ngFor="let item of optionsRelation" [nzValue]="item[columnRelation!]" [nzLabel]="item[columnRelation!]"></nz-option>
                                                        </nz-select>
                                                    </ng-container>
                                                    <ng-container *ngIf="col.keyName != 'operation_code'">
                                                        <input
                                                            type="text"
                                                            nz-input
                                                            [(ngModel)]="data[col.keyName]"
                                                            placeholder=" {{ 'Nhập' | translate }} {{
                                                            col.keyTitle | translate
                                                            }} "
                                                            [disabled]="col.isDisable"
                                                        />
                                                    </ng-container>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="col.dataType == dataType.LONG_STRING">
                                                <td>
                                                    <textarea
                                                        nz-input
                                                        [(ngModel)]="data[col.keyName]"
                                                        placeholder=" {{ 'Nhập' | translate }} {{
                                                        col.keyTitle | translate
                                                        }} "
                                                        rows="1"
                                                        [disabled]="col.isDisable"
                                                    ></textarea>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="col.dataType == dataType.PARAM">
                                                <td>
                                                    <nz-select
                                                        style="width: 100%"
                                                        nzMode="default"
                                                        [(ngModel)]="data[col.keyName]"
                                                        (nzOpenChange)="handleOpenChangeDataTypeParam($event, col)"
                                                        nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                        col.keyTitle | translate
                                                        }} ----"
                                                        [disabled]="col.isDisable"
                                                    >
                                                        <nz-option *ngFor="let item of valueSelectBox" [nzValue]="item.value" [nzLabel]="item.value"></nz-option>
                                                    </nz-select>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="col.dataType == dataType.RELATION">
                                                <td>
                                                    <nz-select
                                                        style="width: 100%"
                                                        nzMode="default"
                                                        [(ngModel)]="data[col.keyName]"
                                                        (nzOpenChange)="handleOpenChangeRelation($event, col)"
                                                        nzPlaceHolder="---- {{ 'Chọn' | translate }} {{
                                                        col.keyTitle | translate
                                                        }} ----"
                                                        [nzShowSearch]="true"
                                                        [disabled]="col.isDisable"
                                                    >
                                                        <nz-option *ngFor="let item of optionsRelation" [nzValue]="item" [nzLabel]="item[columnRelation!]"></nz-option>
                                                    </nz-select>
                                                </td>
                                            </ng-container>
                                            <ng-container *ngIf="col.dataType == dataType.BOOLEAN">
                                                <td>
                                                    <nz-radio-group
                                                        nz-col
                                                        nzSpan="24"
                                                        [(ngModel)]="data[col.keyName]"
                                                        style="margin-top: 6px; display: flex; justify-content: space-between;"
                                                        [disabled]="col.isDisable"
                                                    >
                                                        <label
                                                        style="width: 50%; margin: 0; font-size: 13px;"
                                                        nz-radio
                                                        [nzValue]="true"
                                                        >{{ "Có" | translate }}</label
                                                        >
                                                        <label
                                                        style="width: 45%; margin: 0; font-size: 13px;"
                                                        nz-radio
                                                        [nzValue]="false"
                                                        >{{ "Không" | translate }}</label
                                                        >
                                                    </nz-radio-group>
                                                </td>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <td nzRight>
                                        <div class="fn-df fn-df-justify-center">
                                            <button
                                            nz-button
                                            nzType="link"
                                            nz-tooltip="{{ 'btn.delete' | translate }}"
                                            (click)="deleteRowTableStage(data, i)"
                                            >
                                            <img
                                                width="16px"
                                                height="16px"
                                                src="./assets/icons/Delete-VNT.svg"
                                            />
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </nz-table>
                    <div>
                        <button
                          style="color: #01aba8"
                          nz-button
                          nzType="text"
                          class="mb-6 quoting-fz-12"
                          nz-tooltip="{{ 'Thêm mới' | translate }}"
                          (click)="addNewRowTableStage()"
                        >
                          <span
                            nz-icon
                            nzType="plus-circle"
                            nzTheme="outline"
                            class="fn-icon-style"
                          ></span>
                          {{ "Thêm mới" | translate }}
                        </button>
                      </div>
                </div>
            </nz-tab>
          </nz-tabset>
      </div>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <app-button
      (click)="handleCancel()"
      style="
        margin-right: 30px;
        background-color: #e5e5e5;
        display: inline-block;
        border-radius: 4px;
      "
      [buttonType]="'text'"
      title="{{ 'Hủy bỏ' | translate }}"
    ></app-button>
    <!-- <app-button
      (click)="submitDemo()"
      title="{{ 'Thêm mới' | translate }}"
      class="btn btn-save"
      #saveBtn
    ></app-button> -->
      <button
        nz-button
        (click)="submitDemo()"
        class="fn-bg-default"
        style="border-radius: 4px;width: 86px; text-align: center;"
      >
        <span>{{ 'Thêm mới' | translate }}</span>
      </button>
  </ng-template>
  <!-- <app-popup-cancel
    [(isvisible)]="isvisibleCancel"
    (cancel)="cancelConfirm($event)"
  ></app-popup-cancel>
  <app-add-column
    *ngIf="isvisibleAddColumn"
    [entryType]="6"
    [(isvisible)]="isvisibleAddColumn"
  ></app-add-column> -->
  <app-popup-add
    [(isvisible)]="isvisiblesubmit"
    [tableName]="'BOM'"
    [code]="''"
    (add)="submit()"
  ></app-popup-add>
  <!-- <app-popup-manage-param
  *ngIf="isVisibleManageParam"
  [(isvisible)]="isVisibleManageParam"
  [requestAddNewParam]="requestAddNewParam"
  >
  </app-popup-manage-param> -->
</nz-modal>