/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/resizable/style/index.min.css";

/* *::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;
  border-radius: 100px;
} */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}

body {
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.d-flex {
  display: flex;
}

.j-content-center {
  justify-content: center;
}

.j-content-between {
  justify-content: space-between;
}

.j-content-right {
  justify-content: right;
}

.a-items-center {
  align-items: center;
}

.m-24 {
  margin: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.m-12 {
  margin: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.w-100 {
  width: 100%;
}

.bg-cancel {
  background-color: #7b7b7b;
}

.bg-cancel:hover {
  background-color: #979797;
}

.striped-tr tr:nth-child(odd) {
  background-color: white;
}

.border-element {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 6px !important;
  border-radius: 4px;
  text-align: center;
}

.bordered-element__status_0 {
  border: 1px solid #d4d4d4;
  color: #7e7e7e;
  background: #d4d4d4;
}

.bordered-element__status_1 {
  border: 1px solid #00af12;
  color: white;
  background: #00af12;
}

.bordered-element__status_2 {
  border: 1px solid #ffc32b;
  color: white;
  background: #ffc32b;
}

.bordered-element__show_1 {
  border: 1px solid #0047ff;
  color: white;
  background: #0047ff;
}

.bordered-element__show_2 {
  border: 1px solid #ff0000b2;
  color: white;
  background: #ff0000b2;
}

.ant-modal-header {
  padding: 0;
}

/* Style FaceNet button */
.fn-button {
  min-width: 100px;
  height: 42px;
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.fn-button:active {
  opacity: 0.8;
  transform: translateY(2px);
}

.fn-button-solid {
  min-width: 100px;
  height: 42px;
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background-color: #2c73eb;
  color: white;
}

.fn-button-solid:active {
  opacity: 0.8;
  transform: translateY(2px);
}

.fn-button-thin {
  min-width: 100px;
  height: 42px;
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background-color: transparent;
  color: #2c73eb;
}

.fn-button-thin:hover {
  border: 1px solid #2c73eb;
}

.fn-button-thin:active {
  opacity: 0.8;
  transform: translateY(2px);
}

/* Style FaceNet input */

.fn-input {
  display: flex;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 16px;
  align-items: flex-end;
  gap: 80px;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fn-input:focus {
  /* border-color: #ff7a00 !important; */
  border: 1px solid #ff7a00 !important;
}

/* Style FaceNet label */

.fn-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

/* style in project */

.fn-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  gap: 30px;
}

.fn-start {
  justify-content: start !important;
}

.fn-center {
  justify-content: center !important;
}

.fn-end {
  justify-content: end !important;
}

.fn-space-between {
  justify-content: space-between;
}

.fn-header-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.fn-status-green {
  padding: 4px 8px;
  background-color: #00af12;
  color: white;
  border-radius: 4px;
}

.fn-status-grey {
  padding: 4px 8px;
  background-color: #d4d4d4;
  color: #7e7e7e;
  border-radius: 4px;
}

::ng-deep .ant-modal-footer {
  padding-right: 24px !important;
}
